.wrap {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link {
    text-decoration: none;
    color: #8585ad;
    cursor: pointer;
}

.side {
    width: 350px;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.active {
    color: white;
}

.button {
    composes: link;
    color: #4C4EF6;
}
