.wrap {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.img {
    max-width: 400px;
}

.name {
    font-size: 18px;
}

.item {
    text-align: center;
    font-size: 13px;
}