.item span {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-items: center;
    position: relative;
}

.item svg {
    margin-left: 9px;
}

.link {
    text-decoration: none;
    color: white;
}