.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding: 0;
    margin: 0;
    composes: header;
    list-style: none;
}

.navitem {
    composes: header;
    color: white;
    text-decoration: none;
}